In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("Data/Company List.csv")
df.head()

   Unnamed: 0                   Name     Ticker
0           0        20 Microns Ltd.  20MICRONS
1           1       360 One Wam Ltd.     360ONE
2           2          3M India Ltd.    3MINDIA
3           3  3P Land Holdings Ltd.     3PLAND
4           4       3i Infotech Ltd.  3IINFOLTD

In [15]:
l = (df["Ticker"]+'.NS')[:5].to_list()
l.append("BHUSANSTL.NS")

In [16]:
l

['20MICRONS.NS',
 '360ONE.NS',
 '3MINDIA.NS',
 '3PLAND.NS',
 '3IINFOLTD.NS',
 'BHUSANSTL.NS']

In [17]:
import yfinance as yf

com_df = pd.DataFrame()

for i in l:
    com_data = yf.download(i, start="1900-01-01", end="2024-03-08")
    
    if (com_data.empty == False):
        com_df[i] = pd.Series(com_data['Adj Close'], index=com_data.index)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['BHUSANSTL.NS']: Exception('%ticker%: 1d data not available for startTime=-2208971040 and endTime=1709874000. Only 100 years worth of day granularity data are allowed to be fetched per request.')

In [9]:
com_df.head()

            20MICRONS.NS  360ONE.NS   3MINDIA.NS  3PLAND.NS  3IINFOLTD.NS
Date
2008-10-06     14.736081        NaN  1210.735474  14.001053    521.733643
2008-10-07     13.198785        NaN  1143.373535  14.646491    481.067078
2008-10-08     11.639526        NaN  1053.750000  15.391228    432.082306
2008-10-10     10.190077        NaN  1002.206726  12.312982    408.052063
2008-10-13     10.826957        NaN   980.954834  10.922807    478.294373

In [5]:
import yfinance as yf
import pandas as pd

def fetch_adj_close(ticker):
    try:
        data = yf.download(ticker, start="2023-01-01", end="2024-01-01")
        adj_close = data['Adj Close']  # Extracting adjusted close prices
        adj_close = pd.DataFrame(adj_close)  # Convert Series to DataFrame
        adj_close.columns = [ticker]  # Rename column to ticker symbol
        return adj_close
    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")
        return None

# List of tickers you want to fetch data for
tickers = ["AAPL", "GOOG", "BHUSANSTL.NS", "MSFT"]

# Create an empty DataFrame to store the adjusted close prices
adj_close_df = pd.DataFrame()

for ticker in tickers:
    data = fetch_adj_close(ticker)
    if data is not None:
        adj_close_df = pd.concat([adj_close_df, data], axis=1)  # Concatenate the data to the DataFrame

# Set the date as the index
adj_close_df.index.name = 'Date'

# Drop columns with any NaN values (i.e., for invalid tickers)
adj_close_df.dropna(axis=1, how='any', inplace=True)

print(adj_close_df.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['BHUSANSTL.NS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-01-01 -> 2024-01-01)')
[*********************100%%**********************]  1 of 1 completed

                           AAPL       GOOG        MSFT
Date
2023-01-03 00:00:00  124.216301  89.699997  237.036026
2023-01-04 00:00:00  125.497498  88.709999  226.667297
2023-01-05 00:00:00  124.166634  86.769997  219.949371
2023-01-06 00:00:00  128.735229  88.160004  222.541565
2023-01-09 00:00:00  129.261612  88.800003  224.708313