In [2]:
from bs4 import BeautifulSoup
import pandas as pd

c = 0

df = 0

# Read HTML content from the file
with open("index.html", "r", encoding="utf-8") as file:
    html_content = file.read()

# Parse the HTML content
soup = BeautifulSoup(html_content, "html.parser")

# Find the table
table = soup.find("table")

# Extract table data
if table:
    rows = table.find_all("tr")
    data = []
    for row in rows:
        columns = row.find_all("td")
        if columns:  # Ensure it's not a header row or empty row
            row_data = [column.text.strip() for column in columns]
            data.append(row_data)
        c += 1
    # Create DataFrame
    df = pd.DataFrame(data)
    
    # Extract first part and last word from the first column
    df['Name'] = df[0].str.split().str[:-1].str.join(" ")
    df['Ticker'] = df[0].str.split().str[-1]
    df[['Name', 'Ticker']].to_csv("CompanyList.csv")
else:
    print("Table not found in the HTML content.")

In [3]:
print(c)

2063

In [4]:
df.describe()

,0,1,2,3,4,Name,Ticker
count,2062,2062,2062,2062,2062,2062,2062
unique,2062,2044,2060,2056,125,2061,2062
top,20 Microns Ltd. 20MICRONS,₹1.14 -4.16%,₹8.8/₹3.79,₹128.05 Crs,Pharmaceuticals,Gallantt Ispat Ltd.,20MICRONS
freq,1,4,2,2,105,2,1

In [5]:
len(df)

2062

In [6]:
duplicates = df[df.duplicated(subset='Name', keep=False)]

In [7]:
duplicates

,0,1,2,3,4,Name,Ticker
610,Gallantt Ispat Ltd.\n ...,₹64.15 -0.77%,₹76/₹44.64,₹1807.11 Crs,Iron & Steel,Gallantt Ispat Ltd.,GALLISPAT
611,Gallantt Ispat Ltd.\n ...,₹216.94 +1.33%,₹236.4/₹49.54,₹5235.8 Crs,Iron & Steel,Gallantt Ispat Ltd.,GALLANTT

In [8]:
df.to_csv("CompanyList.csv")